.wrapper {
    padding: 10px 60px;
    .copywriting {
        justify-items: center;
        text-align: center;
        font-size: 1rem;
        padding-top: 10px;
    }
    .contact {
        text-align: center;
        font-size: 1.2rem;
        .email {
            &:hover a {
                text-decoration: underline;
            }
        }
    }
}
