.movies-detail {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .showBackdrop {
        display: block;
    }
    .hideBackdrop {
        display: none;
    }
    .modal {
        width: 100%;
        height: 75%;
        position: fixed;
        top: 15%;
        left: 16%;
        z-index: 300;
        color: var(--white);
        box-shadow: 0 15px 40px rgba(var(--dark), 0.2);
        transition: all 0.3 ease;
        justify-content: center;
        margin: 0 auto;
        @media screen and (max-width: 1184px) {
            left: 15%;
            width: 80%;
            height: 60%;
        }
        @media screen and (max-width: 600px) {
            left: 10%;
            height: 50%;
        }
        .container {
            margin-top: 10px;
            position: relative;
            width: 60%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.94) 60%, transparent);
            @media screen and (max-width: 1184px) {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 40%, rgba(0, 0, 0, 0.733), transparent);
                width: 80%;
            }
            @media screen and (max-width: 980px) {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 50%, transparent);
                width: 80%;
            }
            @media screen and (max-width: 600px) {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.88) 60%, transparent);
            }
            .movies-info {
                width: 60%;
                padding: 10px;
                .movie-title {
                    font-size: 2.5rem;
                }
                .statistical {
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    .rating {
                        color: green;
                    }
                    .popularity {
                        padding-left: 15px;
                        color: yellow;
                    }
                }
                .release-date {
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: 500;
                }
                .overview {
                    padding-top: 10px;
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
            .movies-action {
                width: 60%;
                padding: 10px;
                .play-btn {
                    background-color: #e6e6e6;
                    display: inline-block;
                    padding: 10px 30px 5px 20px;
                    border-radius: 4px;
                    .icon-play {
                        display: inline;
                        color: var(--black);
                    }
                    .icon-title {
                        position: relative;
                        left: 10px;
                        top: -5px;
                        font-size: 1.5rem;
                        color: var(--black);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.showModal {
    top: 25%;
    opacity: 1;
    left: 0;
    visibility: visible;
    transform: 0.3s ease-in-out;
}

.hideModal {
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: 0.3s ease-in-out;
}